* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(41, 50, 65, 0.8), rgba(41, 50, 65, 0.8));
}

h2 a {
  text-decoration: none;
  color: #1e1c1f;
  margin-right: 20px;
  font-size: 17px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 1px;
  padding: 10px 15px;
}

.about {
  display: inline-flex;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  top: 0;
}

.about h2 a:hover {
  background: white;
}

a img {
  display: inline-flex;
  height: 65vh;
  width: 25vw;
  padding: 0px;
  margin-bottom: 70px;
  margin-left: 32px;
  box-shadow: 5px 10px 5px rgb(49, 48, 48);
  /* opacity: 1; */
  transition: transform 0.2s;
}

a img:hover {
  /* opacity: 0.3; */
  transform: scale(1.1);
}

.posters {
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #1e1c1f;
  margin-top: 90px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

.bposter {
  margin-left: 470px;
}

/* P {
  letter-spacing: 10px;
  text-align: center;
  margin-top: 35px;
  font-weight: bold;
  font-size: 20px;
  color: #1e1c1f;
} */

.foot {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  padding: 10px;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
}

.img-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 18vh;
}

p {
  margin-top: -30px;
  text-align: center;
}

.footer-links {
  margin-top: 10px;
  text-transform: uppercase;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  color: red;
}
