* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 a {
  text-decoration: none;
  color: #e2ded8;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 10px;
}

h1 a:hover {
  color: #e2ded8;
  text-shadow: 8px 8px 16px black;
}

div {
  min-height: 50vh;
  color: #ffe443;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.one {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("..//.//PICTURES/photo1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.two {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("..//.//PICTURES/photo2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.three {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("..//.//PICTURES/photo3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.four {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("..//.//PICTURES/photo4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.five {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("..//.//PICTURES/photo5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.six {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("..//.//PICTURES/photo6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
