* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 a {
  text-decoration: none;
  color: white;
}

div {
  min-height: 50vh;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.one {
  background: url("..//.//PICTURES/photo1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.two {
  background: url("..//.//PICTURES/photo2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.three {
  background: url("..//.//PICTURES/photo3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.four {
  background: url("..//.//PICTURES/photo4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.five {
  background: url("..//.//PICTURES/photo5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.six {
  background: url("..//.//PICTURES/photo6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
