* {
  padding: 10px;
  
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("..//PICTURES/photo1.jpeg") center/cover no-repeat fixed;
  /* background-repeat: no-repeat;
  background-size: cover; */
}

img {
  float: left;
  width: 600px;
  height: 800px;
  margin: 80px 0;
  margin-left: 60px;
}

h2 a {
  text-decoration: none;
  color: aliceblue;
  margin-top: 0;
}

p {
  text-align: center;
  text-align: justify;
  text-indent: 10px;
  clear: right;
  color: white;
  margin-top: 300px;
}
